*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* background */
    --ba-primary: #121212;
    --bg-section: #1a1a1a;
    --bg-card: #222222;
    --bg-card-hover: #2b2b2b;
    --bg-input: #202020;
    --bg-active: #3a241b;

    /* text */
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
    --text-muted: #a3a3a3;
    --text-disabled: #737373;


    /* details */
    --boder: #333333;
    --divider: #292929;
    --price: #ff6b35;
    --star: #feb82d;
    --success: #4caf50;
}
@font-face {
    font-family: vazir;
    src: url(../assets/font/static/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: boold;
    src: url(../assets/font/static/GravitasOne-Regular.ttf);
}
html{
    scrollbar-width: none;
    font-size: 90%;
}
body{
    height: 100vh;
    background: var(--ba-primary);
    color: var(--text-primary);
    font-family: vazir;
    transition: all .4s;
}


.card-description{
    width: 100%;
    height: 100dvh;
}
.card-description .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
}
.card-description .card{
    
}
.card-description .card .box-descripton{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 0 1.5rem;
}
.card-description .card .box-descripton .category{
    color: var(--text-disabled);
}
.card-description .card .img-card{
    width: 94%;
    margin: 4rem auto 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    
}
.card-description .card .img-card::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 30%;
    z-index: 2;
    background: linear-gradient(100% rgba(0,0,0,0.5));
    pointer-events: none;
}
.card-description .card .box-descripton .price{
    color: var(--star);
    margin-top: 1rem;
}
.card-description .card .box-descripton .text-descripton{
    color: var(--text-primary);
    margin-top: 1rem;
}
.card-description .card .box-descripton .add-items{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-description .card .box-descripton .add-items div{
    background: var(--bg-section);
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.card-description .card .box-descripton .add-items div .plus,.minus{
    background: var(--boder);
    border: none;
    border-radius: 1rem;
    padding: .3rem;
    text-align: center;
    display: flex;
    align-self: center;
}

.card-description .card .box-descripton .add-items div .number{
    font-size: 1.2rem;
}
.card-description .card .box-descripton .card-btn{
    background-color: var(--star);
    border: none;
    display: flex;
    gap: .7rem;
    padding: .5rem 0;
    font-family: vazir;
    align-items: center;
    justify-content: center;
    width: 94%;
    margin: 2rem auto 0;
    border-radius: .8rem;

}