*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* background */
    --ba-primary: #121212;
    --bg-section: #1a1a1a;
    --bg-card: #222222;
    --bg-card-hover: #2b2b2b;
    --bg-input: #202020;
    --bg-active: #3a241b;

    /* text */
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
    --text-muted: #a3a3a3;
    --text-disabled: #737373;


    /* details */
    --boder: #333333;
    --divider: #292929;
    --price: #ff6b35;
    --star: #ffc857;
    --success: #4caf50;
}
@font-face {
    font-family: vazir;
    src: url(../assets/font/static/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: boold;
    src: url(../assets/font/static/GravitasOne-Regular.ttf);
}
body{
    height: 100vh;
    background: var(--ba-primary);
    color: var(--text-primary);
    font-family: vazir;
    transition: all .4s;
}
/* .container{
    padding: 1rem;
} */
/* header */
.top-header{
    padding: .6rem 1.5rem;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header .icon-cart{

}
.top-header .logo{
    
}

/* navbar */
.nav-bar{
    background: var(--bg-section);
    display: flex;
    justify-content: space-between;
    padding: .5rem .7rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--boder);
}
.nav-bar .item-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.active{
    color: var(--star);
}