*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* background */
    --ba-primary: #121212;
    --bg-section: #1a1a1a;
    --bg-card: #222222;
    --bg-card-hover: #2b2b2b;
    --bg-input: #202020;
    --bg-active: #3a241b;

    /* text */
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
    --text-muted: #a3a3a3;
    --text-disabled: #737373;


    /* details */
    --boder: #333333;
    --divider: #292929;
    --price: #ff6b35;
    --star: #ffc857;
    --success: #4caf50;
}
@font-face {
    font-family: vazir;
    src: url(../assets/font/static/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: boold;
    src: url(../assets/font/static/GravitasOne-Regular.ttf);
}
html{
    scrollbar-width: none;
    font-size: 90%;
}
body{
    height: 100vh;
    background: var(--ba-primary);
    color: var(--text-primary);
    font-family: vazir;
    transition: all .4s;
}
/* .container{
    padding: 1rem;
} */
/* header */
.top-header{
    padding: .6rem 1.5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .logo img{
    width: 7rem;
    margin-top: -.7rem;
}

.bottom-header .poster{
    width: 96%;
    height: 11rem;
    background-image: url(../assets/image/poster.jfif);
    background-size: cover;
    margin: 0 auto;
    border-radius: .5rem;
    padding: 4rem 0.5rem 0;
}
.bottom-header .poster .title-poster span{
    color: var(--star);
}
.bottom-header .poster p{
    font-size: 80%;
    margin-top: .5rem;
}

/* navbar */
.nav-bar{
    background: var(--bg-section);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: fixed;
    bottom: 0;
    left: .2rem;
    right: .2rem;
    border-top: 1px solid var(--boder);
}
.nav-bar .item-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.nav-bar .item-menu span{
    font-size: .85rem;
}
.active{
    color: var(--star);
}

/* main */
.search-box div{
    width: 90%;
    background-color: var(--bg-input);
    margin: .7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
    border-radius: 1.5rem;
    border: 2px solid var(--boder);
}
.search-box div .input-search{
    background: inherit;
    outline: none;
    border: none;
    margin-right: .3rem;
    color: var(--text-muted);
    font-family: vazir;
}
.search-box .search-icon{
    margin-top: .4rem;
    margin-left: .3rem;
}

.fillter{
    display: grid;
    grid-template-columns: repeat(8,4rem);
    gap: 10px;
    overflow: scroll;
    direction: ltr;
    padding: 0.2rem 1rem;
}
.fillter-active{
    padding: .3rem 0;
    font-family: vazir;
    border-radius: 1rem;
    border: none;
    background: var(--star);
    color: var(--ba-primary);
}
.fillter .btn-fillter{
    padding: .3rem 0;
    font-family: vazir;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg-card);
    color: var(--text-primary);
}

::-webkit-scrollbar{
    display: none;
}

/* products */

.products{
    width: 100%;
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.products div{
    background-color: var(--bg-card);
    border-radius: 1rem;
    display: flex;
    padding: .5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.products .img-product{
    width: 8rem;
    height: 6rem;
    border-radius: 1rem;
}
.products .description{
    display: flex;
    flex-direction: column;
    direction: ltr;
    margin-right: 3rem;
}
.products .description .category{
    font-size: .8rem;
}
.products .description .price{
    color: var(--star);
}
.products .add-btn{
    background: var(--star);
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    border-radius: .5rem;
}